h1{
    color:darkgreen}
    body{
        color:brown;
    font-family: Georgia, 'Times New Roman', Times, serif;}

    h2{
        color: darkorange;

    }

    dt{
        font-family: cursive;
    }
